In [2]:
import pandas as pd
import numpy as np
data=pd.read_csv('c4w11-water.txt',"\t")
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [9]:
#data.info()
data['mortality'].mean()

1524.1475409836066

In [66]:
data['mortality'].mean()-data['mortality'].std(ddof=1)*1.96/math.sqrt(len(data['mortality']))

1477.0516384236214

In [70]:
import math
def dov_int (x, i):
    if i ==0: 
        return round(x.mean()-x.std(ddof=1)*1.96/math.sqrt(len(x)),4) 
    else: return round(x.mean()+x.std(ddof=1)*1.96/math.sqrt(len(x)),4)

In [59]:
print(dov_int(data['mortality'],0))

1477.0516

In [71]:
_tconfint_generic(data.mortality.mean(), data.mortality.std(ddof=1) / 
                  np.sqrt(len(data)), len(data) - 1, 0.05, 'two-sided')

(1476.0833413552848, 1572.2117406119285)

In [60]:
data[data['location']=='South']['mortality'].head()

0     1247
2     1466
7     1299
9     1359
10    1392
Name: mortality, dtype: int64

In [69]:
print(dov_int(data[data['location']=='South']['mortality'],0),dov_int(data[data['location']=='South']['mortality'],1))

1321.8222 1431.7932

In [67]:
from statsmodels.stats.weightstats import _zconfint_generic, _tconfint_generic
_tconfint_generic(data[data.location == 'South'].mortality.mean(), data[data.location == 'South'].mortality.std(ddof=1) / 
                  np.sqrt(len(data[data.location == 'South'])), len(data[data.location == 'South']) - 1, 0.05, 'two-sided')

(1320.1517462936238, 1433.463638321761)

In [62]:
print(dov_int(data[data['location']=='North']['mortality'],0),dov_int(data[data['location']=='North']['mortality'],1))

1588.2327 1678.9673

In [63]:
print(dov_int(data[data['location']=='South']['hardness'],0),dov_int(data[data['location']=='South']['hardness'],1))

54.2551 85.2834

In [64]:
print(dov_int(data[data['location']=='North']['hardness'],0),dov_int(data[data['location']=='North']['hardness'],1))

21.7416 39.0584

In [42]:

math.sqrt(len(data['mortality']))

7.810249675906654