In [2]:
import pandas as pd
import numpy as np
data=pd.read_csv('c4w11-water.txt',"\t")
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [9]:
#data.info()
data['mortality'].mean()

1524.1475409836066

In [11]:
data['mortality'].std(ddof=1)

187.6687539314571

In [25]:
def dov_int (x):
    return round(x.mean()-x.std(ddof=1)*1.96,4)

In [26]:
print(dov_int(data['mortality']))

1156.3168

In [28]:
data[data['location']=='South']['mortality'].head()

0     1247
2     1466
7     1299
9     1359
10    1392
Name: mortality, dtype: int64

In [29]:
print(dov_int(data[data['location']=='South']['mortality']))

1101.8801

In [30]:
print(dov_int(data[data['location']=='North']['mortality']))

1365.2037