In [1]:
import pandas as pd
import numpy as np
import scipy as sc
import statsmodels.stats as stats

In [2]:
data=pd.read_csv('c4w43_ab_browser_test.csv')
data.head()

   userID     browser     slot  n_clicks  n_queries  n_nonclk_queries
0       1  Browser #2      exp        23         32                19
1       3  Browser #4      exp         3          4                 2
2       5  Browser #4      exp        29         35                16
3       6  Browser #4  control        12          6                 0
4       7  Browser #4      exp        54         68                30

In [10]:
data.describe()

              userID       n_clicks      n_queries  n_nonclk_queries
count  566134.000000  566134.000000  566134.000000     566134.000000
mean   301377.214027      11.431658      10.720524          4.703987
std    175526.333101      20.251494      16.262827          8.109958
min         1.000000       0.000000       1.000000          0.000000
25%    148627.250000       1.000000       2.000000          1.000000
50%    299362.500000       4.000000       5.000000          2.000000
75%    455698.750000      13.000000      13.000000          6.000000
max    603137.000000     863.000000     665.000000        581.000000

### 1 Задача

In [9]:
(sum(data[data.slot=='exp'].n_clicks)-sum(data[data.slot!='exp'].n_clicks))/sum(data[data.slot!='exp'].n_clicks)

0.016135689824415808

In [14]:
data[data.slot=='exp'].n_clicks.mean() , data[data.slot=='control'].n_clicks.mean()

(11.584000994388806, 11.280906260323173)

In [15]:
data[data.slot=='exp'].n_clicks.median() , data[data.slot=='control'].n_clicks.median()

(5.0, 4.0)

для средних доверительный интервал: