In [1]:
import pandas as pd
import numpy as np
import scipy as sc
import statsmodels.stats as stats
import matplotlib.pyplot as plt

/opt/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
data=pd.read_csv('churn_analysis.csv')
data.head()

,Unnamed: 0,state,account_length,area_code,intl_plan,vmail_plan,vmail_message,day_mins,day_calls,day_charge,...,night_mins,night_calls,night_charge,intl_mins,intl_calls,intl_charge,custserv_calls,treatment,mes_estim,churn
0,0,KS,128,415,no,yes,25,265.1,110,45.07,...,244.7,91,11.01,10.0,3,2.70,1,1,0.65,False.
1,1,OH,107,415,no,yes,26,161.6,123,27.47,...,254.4,103,11.45,13.7,3,3.70,1,0,0.55,False.
2,2,NJ,137,415,no,no,0,243.4,114,41.38,...,162.6,104,7.32,12.2,5,3.29,0,0,0.72,False.
3,3,OH,84,408,yes,no,0,299.4,71,50.90,...,196.9,89,8.86,6.6,7,1.78,2,1,0.28,False.
4,4,OK,75,415,yes,no,0,166.7,113,28.34,...,186.9,121,8.41,10.1,3,2.73,3,2,0.45,False.

Измерены следующие признаки:

state — штат США<br>
account_length — длительность использования аккаунта<br>
area_code — деление пользователей на псевдорегионы, использующееся в телекоме<br>
intl_plan — подключена ли у пользователя услуга международного общения<br>
vmail_plan — подключена ли у пользователя услуга голосовых сообщений<br>
vmail_message — количество голосых сообщений, который пользователь отправил / принял<br>
day_calls — сколько пользователь совершил дневных звонков<br>
day_mins — сколько пользователь проговорил минут в течение дня<br>
day_charge — сколько пользователь заплатил за свою дневную активность<br>
eve_calls, eve_mins, eve_charge — аналогичные метрики относительно вечерней активности<br>
night_calls, night_mins, night_charge — аналогичные метрики относительно ночной активности<br>
intl_calls, intl_mins, intl_charge — аналогичные метрики относительно международного общения<br>
custserv_calls — сколько раз пользователь позвонил в службу поддержки<br>
treatment — номер стратегии, которая применялись для удержания абонентов (0, 2 = два разных типа воздействия, 1 = контрольная группа)<br>
mes_estim — оценка интенсивности пользования интернет мессенджерами<br>
churn — результат оттока: перестал ли абонент пользоваться услугами оператора<br>

In [3]:
data.describe()

,Unnamed: 0,account_length,area_code,vmail_message,day_mins,day_calls,day_charge,eve_mins,eve_calls,eve_charge,night_mins,night_calls,night_charge,intl_mins,intl_calls,intl_charge,custserv_calls,treatment,mes_estim
count,3333.00000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,1666.00000,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856,0.990999,0.484236
std,962.29855,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491,0.819138,0.138560
min,0.00000,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000,0.000000,0.050000
25%,833.00000,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000,0.000000,0.390000
50%,1666.00000,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000,1.000000,0.480000
75%,2499.00000,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000,2.000000,0.580000
max,3332.00000,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,2.000000,0.960000

### 1 Задача: Сколько достигаемых уровней значимости оказались меньше, чем \alpha=0.05α=0.05?

In [9]:
states=data.state.unique()

In [37]:
#тестируем выборку для двух штатов и получения таблицы 2*2
#функция которая для пары штатов считает хи2
def chi_func(state1, state2, corr):
    temp=data[(((data.state)==state1)|((data.state)==state2))&(data.treatment==1)].pivot_table(values='Unnamed: 0', index='state', columns='churn', aggfunc='count')
    #chi2_contingency(temp, correction=corr) 
    return chi2_contingency(temp, correction=corr)[1]

In [38]:
from scipy.stats import chi2_contingency
chi2_contingency(temp, correction=False)[1]

0.33496999977833863

In [39]:
coefs=[]
k=0
for i in range (len(states)):
    for j in range(i+1,len(states)):
        coefs.append(chi_func(states[i], states[j], False))

In [40]:
sum(np.array(coefs)<0.05)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in less
  """Entry point for launching an IPython kernel.

23

In [36]:
Ответ:23

### 2 Задача

Анализ нужно было начинать с хи квадрат к всем штатам<br>
Поправку на множественный критерий<br>
Применение хи квадрат не обоснованно

### 3 Задача

In [41]:
coefs2=[]
k=0
for i in range (len(states)):
    for j in range(i+1,len(states)):
        coefs2.append(chi_func(states[i], states[j], True))
sum(np.array(coefs2)<0.05)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: RuntimeWarning: invalid value encountered in less

0

In [49]:
pd.DataFrame(coefs).mean()

0    0.516813
dtype: float64

In [50]:
pd.DataFrame(coefs2).mean()

0    0.675427
dtype: float64

### 4 Задача

In [51]:
from scipy.stats import fisher_exact
fisher_exact?

In [53]:
fisher_exact(temp)

(0.6447963800904978, 0.37020784219264014)

In [63]:
def fish_func(state1, state2):
    temp=data[(((data.state)==state1)|((data.state)==state2))&(data.treatment==1)].pivot_table(values='Unnamed: 0', index='state', columns='churn', aggfunc='count')
    if (temp.iloc[0][0]>0)&(temp.iloc[0][1]>0)&(temp.iloc[1][0]>0)&(temp.iloc[1][1]>0):
        return fisher_exact(temp)[1] 
    else: return 1

In [68]:
%%time
coefs3=[]
k=0
for i in range (len(states)):
    for j in range(i+1,len(states)):
        coefs3.append(fish_func(states[i], states[j]))
sum(np.array(coefs3)<0.05)

CPU times: user 12.1 s, sys: 32 ms, total: 12.2 s
Wall time: 12.2 s

3

In [69]:
pd.DataFrame(coefs3).mean()

0    0.676304
dtype: float64

In [57]:
j

7

In [58]:
temp=data[(((data.state)==states[i])|((data.state)==states[j]))&(data.treatment==1)].pivot_table(values='Unnamed: 0', index='state', columns='churn', aggfunc='count')

In [70]:
temp

churn  False.  True.
state
KS       18.0    7.0
LA       15.0    NaN

In [72]:
print('Otvet: ',sum(np.array(coefs3)<0.05))

Otvet:  3

### 5 Задача

Давайте попробуем применить полученные знания о разных видах корреляции и ее применимости на практике.
Рассмотрим пару признаков day_calls и mes_estim. Посчитайте корреляцию Пирсона между этими признаками на всех данных, ее значимость.

In [77]:
from scipy.stats import pearsonr, spearmanr
pearsonr(data.day_calls,data.mes_estim)

(-0.05179435058757264, 0.0027798836869738384)

### 6 Задача

In [78]:
spearmanr(data.day_calls,data.mes_estim)

SpearmanrResult(correlation=0.043349880533927444, pvalue=0.012317367189170541)

### 7 Задача

Необходимо взглягуть глазами

### 8 Задача (коэффициент Крамера)

In [80]:
data.head()

,Unnamed: 0,state,account_length,area_code,intl_plan,vmail_plan,vmail_message,day_mins,day_calls,day_charge,...,night_mins,night_calls,night_charge,intl_mins,intl_calls,intl_charge,custserv_calls,treatment,mes_estim,churn
0,0,KS,128,415,no,yes,25,265.1,110,45.07,...,244.7,91,11.01,10.0,3,2.70,1,1,0.65,False.
1,1,OH,107,415,no,yes,26,161.6,123,27.47,...,254.4,103,11.45,13.7,3,3.70,1,0,0.55,False.
2,2,NJ,137,415,no,no,0,243.4,114,41.38,...,162.6,104,7.32,12.2,5,3.29,0,0,0.72,False.
3,3,OH,84,408,yes,no,0,299.4,71,50.90,...,196.9,89,8.86,6.6,7,1.78,2,1,0.28,False.
4,4,OK,75,415,yes,no,0,166.7,113,28.34,...,186.9,121,8.41,10.1,3,2.73,3,2,0.45,False.

In [84]:
temp8=data.pivot_table(values='Unnamed: 0', index='state', columns='churn', aggfunc='count')

In [90]:
def cramers_stat(confusion_matrix):
    chi2 , p= sc.stats.chi2_contingency(confusion_matrix)[0:2]
    n = confusion_matrix.sum()
    return np.sqrt(chi2 / (n*(min(confusion_matrix.shape)-1))), p
cramers_stat(np.array(temp8))

(0.15784685342436378, 0.002296221552011188)

In [88]:
sc.stats.chi2_contingency?

### 9 Задача

In [122]:
treat_0=np.array(data[data.treatment==0].churn)=='True.'
treat_1=np.array(data[data.treatment==1].churn)=='True.'
treat_2=np.array(data[data.treatment==2].churn)=='True.'

In [120]:
from statsmodels.stats.proportion import proportion_confint

In [121]:
proportion_confint(sum(treat_0), len(treat_0))

(0.12509189855388805, 0.16617023736844203)

In [123]:
proportion_confint(sum(treat_1), len(treat_1))

(0.14216797720187604, 0.18599975297132357)

In [124]:
proportion_confint(sum(treat_2), len(treat_2))

(0.10558846307607082, 0.14463819150235163)

Ничего сказать нельзя по дов интервалам, поэтому будем расчитывать z статистику для долей (независимые выборки)

In [117]:
cf=sc.stats.norm.ppf(0.975)

Доверительный интервал $p_1-p_2+-cf*\sqrt{\frac{p_1(1-p_1)}{n1}+\frac{p_2(1-p_2)}{n2}}$

In [125]:
n0=len(treat_0)
n1=len(treat_1)
n2=len(treat_2)
p0=sum(treat_0)/ n0
p1=sum(treat_1)/ n1
p2=sum(treat_2)/ n2

In [127]:
P12=(p1*n1+p2*n2)/(n1+n2)
P02=(p0*n0+p2*n2)/(n0+n2)
P01=(p0*n0+p1*n1)/(n0+n1)

In [129]:
p1,p2,P12

(0.1640838650865998, 0.12511332728921123, 0.14454545454545453)

In [130]:
def z_stat(p1,n1,p2,n2,P12):
    return (p1-p2)/np.sqrt(P12*(1-P12))*(1/n1+1/n2)